{%- raw -%}
{% extends 'accounts/base.html' %}
{% block content %}
{% if title %}
    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>
{% endif %}
<form method="post" role="form" enctype="multipart/form-data">
    {% include 'partials/form.html' %}
    <div class="form-group">
        {% block submit_button_group %}
            <button type="submit" class="btn btn-primary">{% block submit_button %}{{ submit_button|default:"Save" }}{% endblock %}</button>
        {% endblock %}
    </div>
</form>
{% endblock %}
{%- endraw %}
