{%- raw -%}
{% extends 'base.html' %}
{% block body %}
<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
    {% block content %}
    {% if title %}
        <div class="page-header">
            <h1>{{ title }}</h1>
        </div>
    {% endif %}
    {{ body|linebreaks }}
    {% endblock %}
</div>
{% endblock %}
{%- endraw %}
