{%- raw -%}
{% extends 'accounts/base_form.html' %}
{% block submit_button_group %}
    <button type="submit" class="btn btn-primary">
        Log In
    </button>
    <a href="{% url 'accounts:password_reset' %}" class="btn btn-link">
        Reset Password
    </a>
{% endblock %}
{%- endraw %}
