{%- raw -%}
{% extends 'accounts/base.html' %}
{% block content %}
    <div class="page-header">
        <h1>Reset Password</h1>
    </div>
    <p>Password reset complete.</p>
    <div class="text-center">
        <a href="{% url 'accounts:login' %}" class="btn btn-primary btn-lg">
            Go to Log In page
        </a>
    </div>
{% endblock %}
{%- endraw %}
