{%- raw -%}
{% load form_utils widget_tweaks %}
<div class="form-group{% if field.errors %} has-error has-feedback{% endif %}">
    {% if field|is_checkbox %}
        <div class="checkbox">
            <label>{{field}} {{field.label}}</label>
        </div>
    {% else %}
        <label for="{{field.id_for_label}}" class="control-label">{{field.label}}</label>
        {{ field|add_class:"form-control" }}
    {% endif %}
    {% if field.errors %}
        <p class='help-block'>
            {% for error in field.errors %}
                <b>{{error}}</b>
                {% if not forloop.last %}<br />{% endif %}
            {% endfor %}
        </p>
    {% endif %}
    {% if field.help_text %}
        <p class='help-block'>
            {{field.help_text}}
        </p>
    {% endif %}
</div>
{%- endraw %}
