{%- raw -%}
{% if form.errors %}
<div class="alert alert-danger">
    <b>{% if error_msg %}{{ error_msg }}{% else %}Sorry, we couldn't save your form. Please fix the following problems:{% endif %}</b>
    <ul>
    {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
    {% endfor %}
    {% for field in form %}
        {% for error in field.errors %}
            <li><b>{{ field.label }}:</b> {{ error }}</li>
        {% endfor %}
    {% endfor %}
</div>
{% endif %}
{%- endraw %}
