{%- raw -%}
{% load spurl %}
{% if page_obj and page_obj.has_other_pages %}
    <nav class="text-center">
        <ul class="pagination">
            <li {% if not page_obj.has_previous %}class='disabled'{% endif %}>
                <a href="{% if page_obj.has_previous %}{% spurl base=request.get_full_path set_query='page={{page_obj.previous_page_number}}' %}{% else %}#{% endif %}">
                    &larr; Previous
                </a>
            </li>

            {# Always the first page. Hide if the first page is current. #}
            {% if page_obj.has_previous %}
                <li>
                    <a href="{% spurl base=request.get_full_path set_query='page=1' %}">
                        1
                    </a>
                </li>
            {% endif %}

            {# Ellipsis - if we're on page 4 or before there won't be a gap in numbering. #}
            {% if page_obj.number > 5 %}
            <li class="disabled">
                <a href="#">
                    ...
                </a>
            </li>
            {% elif page_obj.number == 5 %}
                {# On page 5 we show the button for page 2, because it looks silly having an ellipsis for one page #}
                <li>
                    <a href="{% spurl base=request.get_full_path set_query='page=2' %}">
                        2
                    </a>
                </li>
            {% endif %}

            {# Current page, and the 2 pages surrounding it. #}
            {# We never want to show the first or last page in this block, to avoid double-ups. #}
            {% if page_obj.number > 3 %}
                <li>
                    <a href="{% spurl base=request.get_full_path set_query='page={{page_obj.number|add:"-2"}}' %}">
                        {{ page_obj.number|add:"-2" }}
                    </a>
                </li>
            {% endif %}
            {% if page_obj.number > 2 %}
                <li>
                    <a href="{% spurl base=request.get_full_path set_query='page={{page_obj.previous_page_number}}' %}">
                        {{ page_obj.previous_page_number }}
                    </a>
                </li>
            {% endif %}
            <li class="active">
                <a href="#">
                    {{ page_obj.number }}
                </a>
            </li>
            {% if page_obj.number < paginator.num_pages|add:"-1" %}
                <li>
                    <a href="{% spurl base=request.get_full_path set_query='page={{page_obj.next_page_number}}' %}">
                        {{ page_obj.next_page_number }}
                    </a>
                </li>
            {% endif %}
            {% if page_obj.number < paginator.num_pages|add:"-2" %}
                <li>
                    <a href="{% spurl base=request.get_full_path set_query='page={{page_obj.number|add:"2"}}' %}">
                        {{ page_obj.number|add:"2" }}
                    </a>
                </li>
            {% endif %}

            {# Ellipsis - If we're 3 pages or less away from the end there won't be a gap in numbering #}
            {% if page_obj.number < paginator.num_pages|add:"-4" %}
                <li class="disabled">
                    <a href="#">
                        ...
                    </a>
                </li>
            {% elif page_obj.number == paginator.num_pages|add:"-4" %}
                {# On page 5 we show the button for page 2, because it looks silly having an ellipsis for one page #}
                <li>
                    <a href="{% spurl base=request.get_full_path set_query='page={{paginator.num_pages|add:"-1"}}' %}">
                        {{ paginator.num_pages|add:"-1" }}
                    </a>
                </li>
            {% endif %}

            {# Always the last page. Hide if the last page is current. #}
            {% if page_obj.has_next %}
                <li>
                    <a href="{% spurl base=request.get_full_path set_query='page={{ paginator.num_pages }}' %}">
                        {{ paginator.num_pages }}
                    </a>
                </li>
            {% endif %}
            <li {% if not page_obj.has_next %}class='disabled'{% endif %}>
                <a href="{% if page_obj.has_next %}{% spurl base=request.get_full_path set_query='page={{page_obj.next_page_number}}' %}{% else %}#{% endif %}">
                    Next &rarr;
                </a>
            </li>
        </ul>
    </nav>
{% endif %}
{%- endraw %}
