{%- raw -%}
{% extends 'base.html' %}
{% block content %}
<div class="row">
        <div class="col-sm-4 col-sm-offset-4">
        <h1>Something's gone wrong!</h1>
        <p>
            Sorry! We've been automatically notified, and we'll fix it as soon as we can.
        </p>
        {% if request.sentry.id %}
            <p>Error reference: {{request.sentry.id}}</p>
        {% endif %}
    </div>
</div>
{% endblock %}
{%- endraw %}
