{%- raw -%}
{% extends 'base.html' %}
{% block content %}
<div class="container">
    {% block form_title %}
        {% if title %}
            <div class="page-header">
                <h1>{{ title }}</h1>
            </div>
        {% endif %}
    {% endblock %}
<form method="post" role="form" enctype="multipart/form-data">
    {% include 'partials/form.html' %}
    <div class="form-group">
        <button type="submit" class="btn btn-primary">{% block submit_button %}Save{% endblock %}</button>
    </div>
</form>
</div>
{% endblock %}
{%- endraw %}
