{%- raw -%}
{% load raven static
{%- endraw -%}
{% if cookiecutter.cms == 'django_cms' %} cms_tags sekizai_tags{% endif %}
{%- raw %} webpack_loader %}
<!DOCTYPE html>
<html
    {% sentry_public_dsn as sentry_public_dsn %}
    {% if sentry_public_dsn %}
        data-sentry-dsn="{{ sentry_public_dsn }}"
    {% endif %}
    {% if rollbar %}
        data-rollbar-token="{{ rollbar.token }}"
        data-rollbar-environment="{{ rollbar.environment }}"
    {% endif %}
>
<head>
    {# Don't bundle error handling with any other resources, so it can catch #}
    {# things that happen early e.g. module loader errors #}
    {% if sentry_public_dsn %}
        <script src="https://cdn.ravenjs.com/3.0.4/raven.min.js"></script>
        <script src="{% static 'error-handling/raven.js' %}"></script>
    {% endif %}
    {% if rollbar %}
        <script src="{% static 'error-handling/rollbar.min.js' %}"></script>
    {% endif %}

    <link rel='stylesheet' type='text/css'
          href='https://cdn.jsdelivr.net/g/bootstrap@3.3.5(css/bootstrap.min.css)'/>
    <link rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/fontawesome/4.4.0/css/font-awesome.min.css'/>

    <link rel="icon" href="{% static 'favicon.ico' %}">

    {% block head %}{% endblock %}
{%- endraw %}{% if cookiecutter.cms == 'django_cms' %}{% raw %}
    {% render_block "js" %}
    {% render_block "css" %}
{%- endraw %}{% endif %}{% raw %}

    {% render_bundle 'main' %}
</head>
<body>
{% block body %}
{%- endraw %}{% if cookiecutter.cms == 'django_cms' %}{% raw %}
{% cms_toolbar %}
{%- endraw %}{% endif %}{% raw %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Your Title Here</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse"
             id="bs-example-navbar-collapse-1">
            {% comment %}
            <ul class="nav navbar-nav">
                <li{% if request.resolver_match.view_name == 'myapp:my_view' %} class="active"{% endif %}>
                    <a href="{% url 'myapp:my_view' %}">My Menu Item</a>
                </li>
            </ul>
            {% endcomment %}

            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li class="navbar-text">
                        {{ user }}
                    </li>
                    <li{% if request.resolver_match.view_name == 'password_change' %} class="active"{% endif %}>
                        <a href="{% url 'password_change' %}">Change Password</a>
                    </li>
                    {% if user.is_staff %}
                        <li>
                            <a href="{% url 'admin:index' %}">Admin</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'accounts:logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'accounts:login' %}">Log In</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

{% if messages %}
    <div class="container">
        {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}

{% block fullwidth-content %}
    <div class="container">
        {% block content %}
            {% if title %}
                <div class="page-header">
                    <h1>{{ title }}</h1>
                </div>
            {% endif %}
            {{ body|linebreaks }}
        {% endblock %}
    </div>
{% endblock %}

</body>
{% endblock %}
</html>
{%- endraw %}
