{%- raw -%}
{% extends 'base.html' %}
{% block content %}
    {% block list_title %}
        {% if title %}
            <div class="page-header">
                <h1>{{ title }}</h1>
            </div>
        {% endif %}
    {% endblock %}
    <div class="row">
        <div class="col-sm-4 col-md-3">
            {% block action %}
            {% endblock %}

            <form method="get" role="form">
                {% include 'partials/form.html' with form=filter.form omit_csrf_token=True %}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Apply Filter</button>
                </div>
            </form>
        </div>
        <div class="col-sm-8 col-md-9">
            {% block list %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
{%- endraw %}
